html {
    overflow-y: scroll;
}

body {
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  background-color: #efefef;
  margin: 0px;
  clear: both;

}

/*header*/

#signin {
    text-align: right;
    padding-top: 20px;
    padding-right: 20px;
}


.loginnav {
    text-align: right;
}

.loginnav a {
    color: black;
    padding: 5px;
    text-decoration: none;
}


.calendarheader a{
    font-family: 'Merriweather', serif;
    text-align: center;
    font-size: 18px;
    text-decoration: none;
    color: black;
}

.logo {
    text-align: center;
}

.dropdown:hover .dropdown-menu{
    display: block;
    margin-top: 0;
}

.header {
    padding-bottom: 10px;
}

.dropdown:hover .dropdown-menu{
    display: block;
    margin-top: 0;
}


.nav-item{
    font-family: 'Merriweather', serif;
    font-size: 22px;
    padding: 12px;
}

.dropdown-menu a {
    font-size: 16px;
    padding: 8px;
}

p {
  color: #b3b3b3;
  font-weight: 300; }

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; }

a {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease; }
  a, a:hover {
    text-decoration: none !important; }


h2 {
  font-size: 20px; }

.form-control:active, .form-control:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none; }

#calendar {
  margin: 0 auto;
}

#calendar .fc-view-container {
    background-color: #fff;
}
  #calendar .fc-toolbar.fc-header-toolbar .fc-center {
    display: block; 
}

#calendar-container {
  height: 1200px;
  padding: 20px;
  overflow: hidden;
}

.fc-header-toolbar {
  /*
    the calendar will be butting up against the edges,
    but let's scoot in the header's buttons
    */
  padding-top: 1em;
  padding-left: 1em;
  padding-right: 1em; }

@media (max-width: 767.98px) {
  .fc-toolbar {
    display: block !important;
    text-align: center; }
    .fc-toolbar .fc-center {
      display: block;
      margin-top: 20px;
      margin-bottom: 20px; } 
}

.impevents h5{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 30px;
}

.impevents p{
   font-family: 'Merriweather', serif;
   font-size: 14px;
   line-height: 25px;
   color: black;
}

/*Footer*/

#footerleft p{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    color:white;
}

#footermid p{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    color: white;
}

#footerright li{
    font-size: 16px;
    padding-top: 6px;
    list-style:none;
    text-decoration: none;
}

#footerright a{
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
    text-decoration: none;
}

#socialmedia a {
    text-decoration: none;
    padding:5px;
}
