@charset "utf-8";
/*Custom CSS*/

html {
    overflow-y: scroll;
}

body {
    margin: 0px;
}

@media (max-width: 640px) 
{
    #announcements
    {
        display: none;
    }
    
    .newupload 
    {
    width: 70%;
    }

}

/*header*/

#signin {
    text-align: right;
    padding-top: 20px;
    padding-right: 20px;
}


.loginnav {
    text-align: right;
}

.loginnav a {
    color: black;
    padding: 5px;
    text-decoration: none;
}

.calendarheader a{
    font-family: 'Merriweather', serif;
    text-align: center;
    font-size: 18px;
    text-decoration: none;
    color: black;
}

.logo {
    text-align: center;
}

.header {
    padding-bottom: 10px;
}

/*Body Content*/

.dropdown:hover .dropdown-menu{
    display: block;
    margin-top: 0;
}


.nav-item{
    font-family: 'Merriweather', serif;
    font-size: 22px;
    padding: 12px;
}

.dropdown-menu a {
    font-size: 16px;
    padding: 8px;
}

.carousel-inner > .item {
   height: 400px;
}

.carousel-caption h5{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 40px;
    text-shadow:  2px 2px 2px black;
}

.carousel-caption p{
   font-family: 'Roboto Condensed', sans-serif;
   font-size: 24px;
    text-shadow:  2px 2px 2px black;
}

.carousel-control-next-icon {
    height: 50px;
    width: 40px;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='black' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.carousel-control-prev-icon {
    height: 50px;
    width: 40px;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='black' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}


.carousel-indicators li {
    width: 16px;
    height: 16px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: black;
    border-radius: 50%;
}

.ticketsbtn, .calendarbtn, .campsbtn{
  margin-top: 150px;
}

.tickets {
    height: 300px;
    background-image: url(../tickets.png);
    background-size: cover;
    border-radius: 10px;
}

.tickets h1{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 50px;
    text-align: center;
    color: white;
    text-shadow:  2px 2px 2px black;
}


.calendar {
    height: 300px;
    background-image: url(../Summer-Calendar-art.png);
    background-size: cover;
    border-radius: 10px;
}

.calendar h1{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 50px;
    color: white;
    text-shadow:  2px 2px 2px black;
    text-align: center;
}


.camps {
    height: 300px;
    background-image: url(../Reviews-picture.png);
    background-size: cover;
    border-radius: 10px;
}

.camps h1{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 50px;
    color: white;
    text-shadow:  2px 2px 2px black;
    text-align: center;
}

.aboutus h1{
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
    font-size: 60px;
    text-align: center;
}

.aboutus p{
    font-family: 'Merriweather', serif;
    color: white;
    font-size: 20px;
    text-align: center;
    margin: auto;
}

.aboutbtn, .missionbtn{
    margin-top: 30px;
}



.ourmotto h1{
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
    font-size: 60px;
    text-align: center;
}

.ourmotto p{
    font-family: 'Merriweather', serif;
    color: white;
    font-size: 20px;
    margin: auto;
    text-align: center;
}

/*Footer*/

#footerleft {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    color:white
}

#footermid {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    color: white;
}

#footerright li{
    font-size: 16px;
    padding-top: 6px;
    list-style:none;
    text-decoration: none;
}

#footerright a{
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
    text-decoration: none;
}

#socialmedia a {
    text-decoration: none;
    padding:5px;
}

/*Text Pages*/

#header h1{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 80px;
    text-align: center;
}

.bodytext {
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 40px;
    padding-bottom: 20px;
}

.bodytext h1{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 25px;
    padding: 10px;
    font-weight: bold;
}

.bodytext p{
    font-family: 'Merriweather', serif;
    font-size: 18px;
    line-height: 35px;
    padding: 10px;
}

/*Store*/

#storeheader h1{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 80px;
    text-align: center;
}


.storebody h1{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 50px; 
}

.storebody p{
    font-family: 'Merriweather', serif;
    font-size: 14px;
    line-height: 35px;
}

.input-group {
    width: 25%;
}

.quantity {
    width: 11%;
}

.moneyamount {
    width: 10%;
}

/*contact*/

#formheader h1{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 80px;
    text-align: center;
    padding-bottom: 30px;
}

#formcontact h1{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 40px;
    text-align: center;
    padding: 10px;
}

#contacttext {
    font-family: 'Merriweather', serif;
    font-size: 18px;
    text-align: center;
}

.formsubmit{
    margin-top: 30px;
}

.form-group label{
    font-family: 'Merriweather', serif;
    font-size: 20px;
}

.contactfirst, .contactsecond label{
    font-family: 'Merriweather', serif;
    font-size: 20px;   
}

.contactfirst, .contactsecond, .filloutform {
    width: 65%;
}

.googlemaps{
    text-align: center;
    padding-bottom: 30px;
}

/*registration*/

.formstext h1{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 25px;
    line-height: 35px;
    text-align: center;
    padding: 20px
}

.discountheader h1{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 40px;
    line-height: 35px;
    text-align: center;
    padding: 20px;
}

.discountheader p{
    font-family: 'Merriweather', serif;
    font-size: 18px;
    line-height: 35px;
    padding-left: 120px;
    padding-right: 120px;
}

#formbutton {
    padding:10px;
}

.newstudentform h1{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 60px;
    line-height: 50px;
    text-align: center;
    padding: 20px;
    padding-bottom: 25px;
}

#formsubmit {
    text-align: center;
    padding: 10px;
}
